<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
  <meta charset="UTF-8" />
  <title>It works!</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,700" />
  <style>
  body {
      background: #0e141a;
      font-family: 'Open Sans', sans-serif;
  }
  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  h1 {
    font-size: 72px;
    font-weight: 700;
    color: #00d46a;
    margin: 0;
  }
  h2 {
    font-weight: 300;
    color: rgba(255, 255, 255, 0.9);
    margin: 0;
  }
  </style>
</head>
<body>
  <div class="container">
    <div layout:fragment="content">
      <h1>Liferay DXP Env Vars Coder</h1>
      <h2>Use the REST endpoint "/api/decode" to test your environment variable</h2>
      <div>
        <img src="decode.png" height="150" />
      </div>
      <h2>Use the REST endpoint "/api/encode" to convert your property key</h2>
      <div>
        <img src="encode.png" height="150" />
      </div>
      <h2>For classical web access, remove the "/api" from the URL</h2>
    </div>
  </div>
</body>
</html>
